.covid19hd
    font-family: "Roboto"
    min-width: 1200px

    h1
        font-family: "Roboto"
        font-size: 3.5rem
        font-weight: 300
        line-height: 1.2
        margin: 20px 0

    h2
        font-family: "Roboto"

    h3
        font-family: "Roboto"
        font-size: 1.25rem

    .container
        width: 90% !important
        max-width: 100% !important
        margin: 0 auto !important
        padding: 0 !important